venv
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.env
*.db
*.sqlite3
*.log
*.egg-info
*.egg
.csv
.txt
*.json
*.md
*.zip
*.tar.gz
*.tar
*.rar
*.tar.bz2
.png
.keras
.idea
.vscode
target
lstm_model_fold_1_BTCUSDT_1h.keras
lstm_model_fold_1_finetuned_BTCUSDT_1h_20250519_170300.keras
lstm_model_fold_2_BTCUSDT_1h.keras
lstm_model_fold_2_finetuned_BTCUSDT_1h_20250519_171403.keras
lstm_model_fold_3_BTCUSDT_1h.keras
lstm_model_fold_3_finetuned_BTCUSDT_1h_20250519_172720.keras
lstm_model_fold_4_BTCUSDT_1h.keras
lstm_model_fold_4_finetuned_BTCUSDT_1h_20250519_174109.keras
lstm_model_fold_5_BTCUSDT_1h.keras
lstm_model_fold_5_finetuned_BTCUSDT_1h_20250519_175632.keras
scaler_stats_BTCUSDT_1h.csv
training_history_BTCUSDT_1h.csv
training_history_BTCUSDT_1h.png
trading.py
lstm_model_fold_1_finetuned_BTCUSDT_1h_20250708_172002.keras
lstm_model_fold_1_finetuned_BTCUSDT_1h_20250708_221629.keras
lstm_model_fold_1_finetuned_BTCUSDT_1h_20250710_174959.keras
lstm_model_fold_1_finetuned_BTCUSDT_1h_20250710_184052.keras
lstm_model_fold_2_finetuned_BTCUSDT_1h_20250708_172535.keras
lstm_model_fold_2_finetuned_BTCUSDT_1h_20250708_223622.keras
lstm_model_fold_2_finetuned_BTCUSDT_1h_20250710_180526.keras
lstm_model_fold_2_finetuned_BTCUSDT_1h_20250710_185426.keras
lstm_model_fold_3_finetuned_BTCUSDT_1h_20250708_173032.keras
lstm_model_fold_3_finetuned_BTCUSDT_1h_20250708_230253.keras
lstm_model_fold_3_finetuned_BTCUSDT_1h_20250710_181529.keras
lstm_model_fold_3_finetuned_BTCUSDT_1h_20250710_191831.keras
lstm_model_fold_4_finetuned_BTCUSDT_1h_20250708_173537.keras
lstm_model_fold_4_finetuned_BTCUSDT_1h_20250708_230810.keras
lstm_model_fold_4_finetuned_BTCUSDT_1h_20250710_182728.keras
lstm_model_fold_4_finetuned_BTCUSDT_1h_20250710_192453.keras
lstm_model_fold_5_finetuned_BTCUSDT_1h_20250708_175150.keras
lstm_model_fold_5_finetuned_BTCUSDT_1h_20250708_232920.keras
lstm_model_fold_5_finetuned_BTCUSDT_1h_20250710_183210.keras
lstm_model_fold_5_finetuned_BTCUSDT_1h_20250710_192916.keras
prediction_plot_BTCUSDT_1h_20250710_231040.png
predictions_BTCUSDT_1h_20250710_231039.csv
gpu_test.py
db_test.py
test_status.py
technical_indicators_backup.py
cargo.lock
fast_integration.py
models/optimized_BTCUSDT_1h.keras
.gitignore
logs/20251008-213141/train/events.out.tfevents.1759948301.ihor-Lenovo-Legion-Y530-15ICH.140323.0.v2
.gitignore
logs/20251008-213141/validation/events.out.tfevents.1759948349.ihor-Lenovo-Legion-Y530-15ICH.140323.1.v2
test_optimized_system.py
test_optimized_indicators.py
quick_start.sh
gpu_config.py
gpu_autotune.py
final_test.py
demo_optimized.py
db_utils.py
base_main.py
.gitignore
